/* google font */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lato&family=Poppins:wght@500;600&family=Roboto&display=swap');

body {
    font-family: 'Arima', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}